
.characters {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	.character {
		flex: 1; 
	}
}

.backLink {
	width: 100% 

}

.loading {
	display: flex;
	flex-direction: column; 
	align-items: center;
	justify-content: center;
	height: 3em; 
	font-weight: bold;
	font-size: 1em; 
}

.loadingText::after {
	display: inline-block;
	animation: dotty steps(1,end) 1s infinite;
	content: '';
}

@keyframes dotty {
	0%   { content: ''; }
	25%  { content: '.'; }
	50%  { content: '..'; }
	75%  { content: '...'; }
	100% { content: ''; }
}
