.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search {
  border: 1px solid #000;
  padding: 0.5em;
  border-radius: 6px;
	margin: 0 0.5em; 
	width: 100%; 
	font-size: 1.3em; 
}

.row {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;

	h3 {
		margin: 1em 0.5em; 
		font-size: 1.3em; 
		&:hover {
			width: fit-content; 
			background: -webkit-linear-gradient(45deg, #282828, #af4261);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
	button {
		cursor: pointer; 
		margin: 1em; 
		height: 2em;
			border-radius: 5px;
		width: 2em; 
		border: 0px; 
		&:hover {
			border: 2px solid #000;
			border-radius: 5px;
			height: 2.1em;
			width: 2.1em; 
		}
	}
	.redHeart {
		background: url('https://icons8.github.io/flat-color-icons/svg/like.svg') no-repeat;
		&:hover {
			border: 0px;
		}
	}
}
